@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  background-color: #7f0909;
  padding: 50px;
}

#main {
  background-color: gray;
  color: black;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
#title {
  font-family: Montserrat, comic sans, sans serif;
  font-size: 50px;
  margin: 10px;
}
h2 {
  font-family: Montserrat, comic sans, sans serif;
  font-size: 20px;
  margin: 10px;
}
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  align: center;
}

#tribute-info {
  text-align: left;
  font-family: Comic Sans, Helvetica, sans serif;
}

#headline {
  font-family: Montserrat, comic sans, sans serif;
  text-align: center;
  color: gold;
  font-size: 20px;

}
#footer {
  text-align: right;
}
